.*{margin: 0;
    padding: 0px;}
    body{
    	 background-color:#394865;
    }
    .clear{
    	overflow: hidden;
    }
 .img1 img {
	vertical-align: middle;
	width: 60px;
	margin: 3px 4px;
	box-shadow: 2px 3px 4px 5px;
}
.title  {
	color: #8f7878;

}
.head1 {
	margin-bottom: 2.5px;
	border-bottom: 2px solid #121213;
	box-shadow: 0px 1px 2px 1px #1b1e20;
}
.glyphicon {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin-right: 6px;
	width: 19px;
	height: 28.3px;
}
.navbar-inverse {
	background-color: #0E1532;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
	color: #000000;
	background-color: #234;
	transition: .5s;
}
.navleft.nav  li {
	position: relative;
	display: block;
	width: 161.9px;
}


.sidebar {
	overflow: hidden;
	margin-top: -15.7px;
}
  .sidebarleft {
	background-color: #131B2B;
	height: 500px;
	color: #ddd;
}
.btn{
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 24px;
	}
.sidebarright {
	background-color: #101C37;
	color: #ddd;
	border: 2px solid #5d6166;
}
.hedaing {
	
}

.nav-tabs > li {
	margin-bottom: -1px;
}


.footer {
	height: 120px;
	/* margin-top: 30px; */
	border: 1px solid #141515AD;
	box-shadow: 2px 3px 4px 4px #2B2D2F;
	background: #586784;
	margin-top: 11px;
	color: #000000;
	padding-top: 10px;
	text-align: center;
	/* padding-top: 30px; */
}

.footernav.navbar-nav li {
	float: left;
	display: block;
	width: 80.2px;
	border-left: 2px solid #a8a8a8;
	margin-top: 17px;
	border-radius: 4px;
}
.navbar-nav > li > a {
	padding-top: 15px;
	padding-bottom: 15px;
	color: #000000;
}
.footerpng{
	margin-top:20px; 
}
.footerpng a img{
	width:50px;
	height:30px;

}
 .form1 {
	
	height: 200px;
	background-color: #6F8091;
}
/*login*/
/*theme*/
.form {
	margin-left: 400px;
	border: 5px solid aliceblue;
	width: 300px;
	margin: auto;
}
/*table*/
/*Admin Login*/
.panelcustom {
  max-width: 300px;
 
  margin: 0 auto;
  margin-top: 91px;
  box-shadow: 2px 3px 2px 4px #302310;
}
.panelcustom:hover{
	 box-shadow:2px 3px 4px 5px #66CFF7;

}
.forgetp {
	min-height: 67px;
	padding: 12px;
	
}
/*password Recovery*/
.Password_recovery {
	/* margin-top: 100px; */
	max-width: 400px;
	margin: 0 auto;
	margin-top: 100px;
	font-style: italic;
	box-shadow: 5px 7px 4px 5px #5B6C7D;
}

.productview {
max-width:990px;
overflow:scroll;
margin: 0 auto;
display: block;
}
 .col-md-10 .Welcomeh4 {
	font-size: 18px;
	color: #ddd;
	text-align: center;
	border-bottom: 2px solid #a7abae;
	padding-bottom: 5px;
	border-radius: 55px;
}
.homecol4 {
	border: 2px solid #285557;
	color: #ddd;
	text-align: center;
	/* padding: ; */
	padding-top: 0px;
	padding: b;
	padding-bottom: 30px;
	background: #205757;
	box-shadow: 0px 1px 2px 2px #343637;
}
.btnsidebar{
	/* display: inline-block; */
	padding: 6px 12px;
	margin-bottom: 16px;
	max-width: 300px;
	padding: 5px 70px;
	text-align: left;
	background: #121c26;
	color: #ddd;
}
.hometoday{
	font-size: 24px;
	text-align: center;
	border-bottom: 2px solid #828b95;
	padding-bottom: 5px;
	color: #ddd;
}
.homesummary{
	text-align: center;
	color: #ddd;
	border-bottom: 1px solid #45484a;
	padding-bottom: 5px;
	font-weight: 700;
	font-family: time;
	box-shadow: 0px 2px 2px #282b2f;
}
.adminmsg{
	color:#ddd;
}
.form-control {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #f7f7f7;
	background-color: #111;
	background-image: none;
	border: 1px solid black;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}